@import "tailwindcss";
/* @import "tailwindcss/forms"; */
:root {
  --background: #e6e6eb;
  --foreground: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
}

button
{
  @apply cursor-pointer
}
